@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #0b1120;
    --foreground: #ffffff;

    --muted: #202937;
    --muted-foreground: 215 20.3% 65.9%;

    --popover: 0 0% 55%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: #0e172a;
    --card-foreground: 222.2 84% 4.9%;

    --border: #202937;
    --input: #202937;
    --sidebar: #010e2b;

    --primary: #a252c8;
    --primary-foreground: #f5f5f5;

    --secondary: #202937;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 221 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: #202937;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground text-base;
    font-family: 'Lato', sans-serif;
  }
}
